* {
    background-color: #192320;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}